USE [SGRH]
GO

ALTER PROCEDURE [dbo].[GetActiveReservation]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        [Id],
        [CheckInDate],
        [CheckOutDate],
        [Status],
        [TotalAmount],
        [UserId]
    FROM [SGRH].[dbo].[Reservation]
    WHERE Status = 1 
    ORDER BY CheckInDate;
END;
GO
